body {
  background-color: #4D4D4D;
}

#content {
  background-color: #696969;
  border-radius: 15px;
  padding: 35px;
}

#navigation {
  text-align: center;
  padding: 10px;
}

.header {
  min-width: 100%;
  background: url('https://w-dog.net/wallpapers/15/19/425956979488396/iron-man-alien-marvel-comics-art-man-underground-suit-column-tile.jpg') center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
}

#header {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__secondary-menu {
    align-self: flex-start;
}

.inline {
    display: inline;
    padding: 0;
    position: absolute;
    margin-left: 25rem;
}

#site-name {
  span{
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 4px 3px black;
    text-decoration: none;
  }
}

#main-menu {
  a {
    color: black;
  }
}
