.two-sidebars .region-sidebar-first {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.two-sidebars #content {
    float: left;
    width: 100%;
    margin-left: 40%;
    position: absolute;
    margin-right: 0;
}

.line-item-summary {
    float: left;
    text-align: right;
    margin-bottom: 1em;
}
